body {
  margin: 0;
  text-align: center;
  font-family: 'Recursive', sans-serif;
  line-height: 2;
}

h1 {
  font-size: 4rem;
  margin: 50px auto 0 auto;
  font-family: 'Rock Salt', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Red Rose', cursive;
  color: #66BFBF;
}

h3 {
  font-family: 'Red Rose', cursive;
  color: #11999E;
}

a {
  color: #11999E;
}

p {
  color: #40514E;
  line-height: 2;
}

/* hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 7px;
    width: 5%;
    margin: 150px auto 100px auto;
    clear: both;
} */

hr {
  /* border: dotted #EAF6F6 6px; */
  border: dotted gray 6px;
  border-bottom: none;
  width: 5%;
}

.subtitle {
  font-weight: normal;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 200px;
}

.middle-container {
  background-color: #e4f9ff;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
    background-color: #66BFBF;
    position: relative;
    padding: 34px 0 50px 0;
}

.bottom-container a {
  color: #11999E;
  text-decoration: none;
  margin: 0px 25px;
}

.bottom-container a:hover {
  color: #EAF6F6;
}

.bottom-container p {
  color: #FFFFFF;
  padding-top: 25px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: 100px auto 50px auto;
}

/* images and buttons below */

.top-cloud {
  position: absolute;
  right: 500px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 600px;
}

.profile-pic {
  border-radius: 50%;
}

.laptop-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.guitar-img {
  width: 25%;
  float: right;
  margin-left: 25px;
}

.email_btn {
    box-shadow: inset 0 -3px 7px 0 #29bbff;
    background: linear-gradient(to bottom, #2dabf9 5%, #11999E 100%);
    background-color: #11999E;
    border-radius: 9px;
    /* border: 1px solid #0b0e07; */
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0 1px 0 #263666;
    margin: 50px auto 100px auto;
}

.email_btn:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.email_btn:active {
	position:relative;
	top:1px;
}
